<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Thymeleaf 연습용')">

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')"> </nav>
      <main class="container">
      
        <div class="starter-template text-center py-5 px-3">
          <h1>스프링 부트 튜토리얼</h1>
          <p class="lead">Spring Boot을 이용해 웹 페이지 제작<br>
            Spring Security, JPA를 이용해 보안 설정과 데이터 다루기</p>
        </div>
      
      </main><!-- /.container -->
</body>
</html>